/*
* {
    background-color: #1F1E1E;
}

main h1 {
    color: white;
    font-family: arial;
    font-size: 30px;
    margin: 10px 0px 10px 0px;
    text-align: center;
}

main div {
    display: inline-block;
    background-color: gray;
    margin: 20px;
}

main div img {
    display: block;
    width: 250px;
    height: 250px;
    cursor: grab;
}
*/
