body{
  margin: 2em;
}
button, label{
  display: block;
}
input {
  appearance: none;

  border-radius: 50%;
  width: 22px;
  height: 22px;
  top: 4px;

  border: 2px solid #999;
  transition: 0.2s all linear;
  outline: none;
}
input:checked {
  border: 6px solid black;
}

section {
  font: normal 1em/1.4 helvetica;
  max-width: 28em;
  /* border-radius: 1em; */
  margin: 1em;
  padding: 1em;
  background: lightyellow;
  /* box-shadow: 3px 3px 3px 3px #ccc; */
}
footer{
  background: #ccc;
  color: #333;
  padding: 2em;
  margin: 4em -2em;
}
footer a {
  color: #333;
}
