/* h1{
  color: grey;
  font: normal small-caps normal 2em/1.4 Georgia;
  margin: 1em;
}
button{
  margin: 1em;
  padding: 1em;
} */

section {
    font: normal 1em/1.4 helvetica;
  max-width: 28em;
  /* border-radius: 1em; */
  margin: 1em;
  padding: 1em;
  background: #eee;
  /* box-shadow: 3px 3px 3px 3px #ccc; */
}
